
.kapianAnimation-enter{
    margin-left: -200px;
    transform: translate3D(100%, 0, 0);
}
.kapianAnimation-enter-active{
    transform: translate3D(0, 0, 0);
    transition:all 4s ease-out;
}
.kapianAnimation-exit{
    margin-left: 200px;
    transform: translate3D(0, 0, 0);
}
.kapianAnimation-exit-active{
    transform: translate3D(100%, 0, 0);
    transition:all 4s ease-out;
}
